# Importing and Cleaning Data

In [2]:
# Installing Packages
!pip install pyathena

Collecting pyathena
  Downloading https://files.pythonhosted.org/packages/ad/fe/3638a0ea41c4a3684fc222b6421a5241dd8a461e2731637b88a9166cccf8/PyAthena-1.7.2-py2.py3-none-any.whl
Collecting tenacity>=4.1.0 (from pyathena)
  Downloading https://files.pythonhosted.org/packages/1e/a1/be8c8610f4620c56790965ba2b564dd76d13cbcd7c2ff8f6053ce63027fb/tenacity-5.1.1-py2.py3-none-any.whl
Collecting botocore>=1.5.52 (from pyathena)
  Downloading https://files.pythonhosted.org/packages/6d/22/398af6ea8d5c6bac57154442068613df74e7adbf255417c6894ef49fda42/botocore-1.12.246-py2.py3-none-any.whl (5.7MB)
Collecting boto3>=1.4.4 (from pyathena)
  Downloading https://files.pythonhosted.org/packages/5b/cd/a888759c39670cac6b74027d3e3a93073ecb99135b1292d15bc2f3b6f90a/boto3-1.9.246-py2.py3-none-any.whl (128kB)
Requirement already satisfied: future in c:\users\kunal\anaconda3\lib\site-packages (from pyathena) (0.17.1)
Requirement already satisfied: six>=1.9.0 in c:\users\kunal\anaconda3\lib\site-packages (from tenacity>=4.1.0->pyathena) (1.12.0)
Collecting jmespath<1.0.0,>=0.7.1 (from botocore>=1.5.52->pyathena)
  Downloading https://files.pythonhosted.org/packages/83/94/7179c3832a6d45b266ddb2aac329e101367fbdb11f425f13771d27f225bb/jmespath-0.9.4-py2.py3-none-any.whl
Requirement already satisfied: urllib3<1.26,>=1.20; python_version >= "3.4" in c:\users\kunal\anaconda3\lib\site-packages (from botocore>=1.5.52->pyathena) (1.24.1)
Requirement already satisfied: docutils<0.16,>=0.10 in c:\users\kunal\anaconda3\lib\site-packages (from botocore>=1.5.52->pyathena) (0.14)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1; python_version >= "2.7" in c:\users\kunal\anaconda3\lib\site-packages (from botocore>=1.5.52->pyathena) (2.7.5)
Collecting s3transfer<0.3.0,>=0.2.0 (from boto3>=1.4.4->pyathena)
  Downloading https://files.pythonhosted.org/packages/16/8a/1fc3dba0c4923c2a76e1ff0d52b305c44606da63f718d14d3231e21c51b0/s3transfer-0.2.1-py2.py3-none-any.whl (70kB)
Installing collected packages: tenacity, jmespath, botocore, s3transfer, boto3, pyathena
Successfully installed boto3-1.9.246 botocore-1.12.246 jmespath-0.9.4 pyathena-1.7.2 s3transfer-0.2.1 tenacity-5.1.1

In [1]:
# Loading Packages

from pyathena import connect
import pandas as pd
# from pyathena import connect
from pyathena.async_pandas_cursor import AsyncPandasCursor

In [14]:
# Connection and Data Extraction
from pyathena import connect

conn  = connect(aws_access_key_id='AKIA4C66MRB4ICDZ5MHO',
                 aws_secret_access_key='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',
                 s3_staging_dir='s3://aws-athena-query-results-831005689976-ap-southeast-2/',
                 region_name='ap-southeast-2')

# query_id, future = cursor.execute("SELECT * FROM canecrushers_db.img32")



df = pd.read_sql("SELECT * FROM canecrushers_db.img32", conn)

df['date'] = pd.to_datetime(df['date'])
# df
for index,row in df.iterrows():
    if row['havested'] == True:
        df.at[index,'SugarCane Harvested'] = 97.7
    else:
        df.at[index,'SugarCane Harvested'] = 0
df['Estimated Sugar'] = df['SugarCane Harvested']*6.2
df['Value of Sugar Produced'] = df['Estimated Sugar'] * 0.42

# object_methods
df2 = df.groupby('date', as_index=False).agg({"SugarCane Harvested": "sum","Estimated Sugar":"sum","Value of Sugar Produced":"sum"})

df2.to_csv("Cleaned Time Series.csv")

# query_id, future = cursor.execute("SELECT * FROM many_rows")
# result_set = future.result()
# QueryData = result_set.as_pandas()

Index(['tile_x', 'tile_y', 'x', 'y', 'date', 'mask', 'red', 'green', 'blue',
       'b01', 'b02', 'b03', 'b04', 'b05', 'b06', 'b07', 'b08', 'b09', 'b10',
       'b11', 'b12', 'clouds', 'havested', 'ndvi', 'gndvi', 'rdvi', 'rbndvi',
       'lci', 'lai', 'sci', 'ndmi', 'gli'],
      dtype='object')

# Bokeh Application

In [33]:
TimeSeries = pd.read_csv("./Dataset/Cleaned Time Series.csv")
TimeSeries['date'] = pd.to_datetime(TimeSeries['date'])
TimeSeries.head()

GroupValue = TimeSeries['Value of Sugar Produced'].groupby(TimeSeries['date']).describe()
GroupValue['Sum value of sugar produced'] = GroupValue['mean']*GroupValue['count']
# GroupValue

GroupValue.index = pd.to_datetime(GroupValue.index)
GroupValue.index.name = 'Date'
GroupValue['Date'] = GroupValue.index
GroupValue.sort_index(inplace=True)
GroupValue = GroupValue[['Sum value of sugar produced']]

In [37]:
import pandas as pd
import numpy as np
from bokeh.plotting import figure, show
from bokeh.io import show, output_notebook
from bokeh.models import ColumnDataSource
from bokeh.models import NumeralTickFormatter



p = figure(width=2000, height=800)
source = ColumnDataSource(GroupValue)
# BOKEH_RESOURCES=inline

# p = figure()

p = figure(x_axis_type="datetime", plot_width=800, plot_height=350)
p.line(x='Date', y='Sum value of sugar produced', source=source)

# output_file("ts.html")
# show(p)


# p.line(TimeSeries['Value of Sugar Produced'], TimeSeries['date'],line_color="purple", line_width = 3)
# p.line(x='Value of Sugar Produced', y='date', line_width=2, source=source, legend='Margin Vacancy Slope')
# p.line(x='Vacant Days', y='Margin2', line_width=2, source=source, legend='Margin Vacancy Slope')
# p.line(x='Vacant Days', y='Margin3', line_width=2, source=source, legend='Margin Vacancy Slope')

# p.circle(x, y, size=10, color='red', legend='Boderline')
# bokeh.plotting.figure(x_axis_type = "datetime",    
#   tools="pan,wheel_zoom,box_zoom,reset,resize,previewsave",plot_width=1000, 
#   name="myplot")
# p.multi_line(TempDF["Vacant Days"], TempDF["Margin"])
# output_notebook()
p.yaxis.formatter=NumeralTickFormatter(format="($0,0)")
show(p)

In [19]:
# show(p)
# Sample File
import pandas as pd

from bokeh.models import ColumnDataSource
from bokeh.plotting import figure, show, output_file

dic = {'2017-08-11': {'Yes': 157, 'Not sure': 2, 'No': 1}, '2017-08-22': {'Yes': 142, 'Not sure': 12}, '2017-08-01': {'Yes': 112, 'Others': 10, 'Not sure': 4, 'No': 9}, '2017-08-17': {'Yes': 117, 'No': 12, 'Not sure': 11, 'Others': 2}, '2017-08-25': {'Yes': 61, 'Not sure': 9}, '2017-08-23': {'Yes': 268, 'Not sure': 20, 'No': 1}, '2017-07-10': {'Yes': 123, 'Not sure': 4, 'No': 1}, '2017-08-10': {'Yes': 343, 'Not sure': 20}, '2017-07-13': {'Yes': 116, 'Others': 1, 'Not sure': 14, 'No': 2}, '2017-07-14': {'Yes': 255, 'Not sure': 22, 'No': 6}, '2017-08-07': {'Yes': 73, 'Others': 3, 'Not sure': 4, 'No': 5}, '2017-08-04': {'Not sure': 11, 'Others': 8, 'Yes': 178, 'No': 10}, '2017-08-16': {'Not sure': 10, 'Yes': 219}, '2017-07-18': {'Yes': 1, 'No': 1}, '2017-08-15': {'Yes': 301, 'Others': 4, 'Not sure': 37, 'No': 31}, '2017-08-08': {'Yes': 38, 'No': 2, 'Others': 1}, '2017-08-09': {'Yes': 120, 'Not sure': 3}, '2017-08-28': {'Yes': 206, 'Others': 2, 'Not sure': 18, 'No': 24}, '2017-08-14': {'Yes': 46, 'No': 3, 'Not sure': 5, 'Others': 7}}

df = pd.DataFrame.from_dict(dic, orient="index")
df = df.fillna(0)
df.index = pd.to_datetime(df.index)
df.index.name = 'Date'
df.sort_index(inplace=True)

df['Total'] = df.Yes + df['Not sure'] + df.No + df.Others
df['Precision'] = round(df.Yes/df.Total, 2)

source = ColumnDataSource(df)

p = figure(x_axis_type="datetime", plot_width=800, plot_height=350)
p.line('Date', 'Precision', source=source)

output_file("ts.html")
show(p)

,count,mean,std,min,25%,50%,75%,max,Sum value of sugar produced
Date,,,,,,,,,
2016-12-22,1.0,36889.5660,NaN,36889.5660,36889.5660,36889.5660,36889.5660,36889.5660,36889.5660
2017-01-01,1.0,34599.8688,NaN,34599.8688,34599.8688,34599.8688,34599.8688,34599.8688,34599.8688
2017-01-04,1.0,1780.8756,NaN,1780.8756,1780.8756,1780.8756,1780.8756,1780.8756,1780.8756
2017-01-05,1.0,0.0000,NaN,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2017-02-03,1.0,9413.1996,NaN,9413.1996,9413.1996,9413.1996,9413.1996,9413.1996,9413.1996
2017-02-20,1.0,4070.5728,NaN,4070.5728,4070.5728,4070.5728,4070.5728,4070.5728,4070.5728
2017-05-21,1.0,5597.0376,NaN,5597.0376,5597.0376,5597.0376,5597.0376,5597.0376,5597.0376
2017-05-31,1.0,19589.6316,NaN,19589.6316,19589.6316,19589.6316,19589.6316,19589.6316,19589.6316
2017-06-20,1.0,17045.5236,NaN,17045.5236,17045.5236,17045.5236,17045.5236,17045.5236,17045.5236
2017-07-11,1.0,82429.0992,NaN,82429.0992,82429.0992,82429.0992,82429.0992,82429.0992,82429.0992
2017-07-12,1.0,29257.2420,NaN,29257.2420,29257.2420,29257.2420,29257.2420,29257.2420,29257.2420
2017-07-20,1.0,193606.6188,NaN,193606.6188,193606.6188,193606.6188,193606.6188,193606.6188,193606.6188
2017-07-30,1.0,34345.4580,NaN,34345.4580,34345.4580,34345.4580,34345.4580,34345.4580,34345.4580
2017-08-09,1.0,233040.2928,NaN,233040.2928,233040.2928,233040.2928,233040.2928,233040.2928,233040.2928
2017-08-10,1.0,83955.5640,NaN,83955.5640,83955.5640,83955.5640,83955.5640,83955.5640,83955.5640
2017-08-19,1.0,213196.2504,NaN,213196.2504,213196.2504,213196.2504,213196.2504,213196.2504,213196.2504
2017-09-08,1.0,205055.1048,NaN,205055.1048,205055.1048,205055.1048,205055.1048,205055.1048,205055.1048
2017-09-18,1.0,95912.8716,NaN,95912.8716,95912.8716,95912.8716,95912.8716,95912.8716,95912.8716
2017-09-28,1.0,255428.4432,NaN,255428.4432,255428.4432,255428.4432,255428.4432,255428.4432,255428.4432
2017-10-02,1.0,12466.1292,NaN,12466.1292,12466.1292,12466.1292,12466.1292,12466.1292,12466.1292
2017-10-07,1.0,0.0000,NaN,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2017-10-28,1.0,130767.1512,NaN,130767.1512,130767.1512,130767.1512,130767.1512,130767.1512,130767.1512
2017-11-01,1.0,24423.4368,NaN,24423.4368,24423.4368,24423.4368,24423.4368,24423.4368,24423.4368
2017-11-04,1.0,3561.7512,NaN,3561.7512,3561.7512,3561.7512,3561.7512,3561.7512,3561.7512
2017-11-05,1.0,12720.5400,NaN,12720.5400,12720.5400,12720.5400,12720.5400,12720.5400,12720.5400
2017-11-17,1.0,89043.7800,NaN,89043.7800,89043.7800,89043.7800,89043.7800,89043.7800,89043.7800
2017-11-27,1.0,2544.1080,NaN,2544.1080,2544.1080,2544.1080,2544.1080,2544.1080,2544.1080
2017-12-03,1.0,2035.2864,NaN,2035.2864,2035.2864,2035.2864,2035.2864,2035.2864,2035.2864
2017-12-17,1.0,9158.7888,NaN,9158.7888,9158.7888,9158.7888,9158.7888,9158.7888,9158.7888
2017-12-27,1.0,45793.9440,NaN,45793.9440,45793.9440,45793.9440,45793.9440,45793.9440,45793.9440
...,...,...,...,...,...,...,...,...,...
2018-05-07,1.0,77849.7048,NaN,77849.7048,77849.7048,77849.7048,77849.7048,77849.7048,77849.7048
2018-05-26,1.0,9158.7888,NaN,9158.7888,9158.7888,9158.7888,9158.7888,9158.7888,9158.7888
2018-06-01,1.0,36126.3336,NaN,36126.3336,36126.3336,36126.3336,36126.3336,36126.3336,36126.3336
2018-06-05,1.0,2289.6972,NaN,2289.6972,2289.6972,2289.6972,2289.6972,2289.6972,2289.6972
2018-06-15,1.0,77595.2940,NaN,77595.2940,77595.2940,77595.2940,77595.2940,77595.2940,77595.2940
2018-06-25,1.0,79121.7588,NaN,79121.7588,79121.7588,79121.7588,79121.7588,79121.7588,79121.7588
2018-07-15,1.0,86754.0828,NaN,86754.0828,86754.0828,86754.0828,86754.0828,86754.0828,86754.0828
2018-07-25,1.0,248050.5300,NaN,248050.5300,248050.5300,248050.5300,248050.5300,248050.5300,248050.5300
2018-08-14,1.0,255174.0324,NaN,255174.0324,255174.0324,255174.0324,255174.0324,255174.0324,255174.0324
2018-08-24,1.0,257718.1404,NaN,257718.1404,257718.1404,257718.1404,257718.1404,257718.1404,257718.1404
2018-09-13,1.0,76577.6508,NaN,76577.6508,76577.6508,76577.6508,76577.6508,76577.6508,76577.6508
2018-10-23,1.0,259499.0160,NaN,259499.0160,259499.0160,259499.0160,259499.0160,259499.0160,259499.0160
2018-11-22,1.0,164858.1984,NaN,164858.1984,164858.1984,164858.1984,164858.1984,164858.1984,164858.1984
2018-12-11,1.0,251866.6920,NaN,251866.6920,251866.6920,251866.6920,251866.6920,251866.6920,251866.6920
2019-01-01,1.0,16791.1128,NaN,16791.1128,16791.1128,16791.1128,16791.1128,16791.1128,16791.1128
2019-01-05,1.0,1017.6432,NaN,1017.6432,1017.6432,1017.6432,1017.6432,1017.6432,1017.6432
2019-01-21,1.0,9413.1996,NaN,9413.1996,9413.1996,9413.1996,9413.1996,9413.1996,9413.1996
2019-02-03,1.0,763.2324,NaN,763.2324,763.2324,763.2324,763.2324,763.2324,763.2324
2019-02-20,1.0,11194.0752,NaN,11194.0752,11194.0752,11194.0752,11194.0752,11194.0752,11194.0752
2019-04-21,1.0,80648.2236,NaN,80648.2236,80648.2236,80648.2236,80648.2236,80648.2236,80648.2236
2019-05-21,1.0,0.0000,NaN,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2019-06-20,1.0,12974.9508,NaN,12974.9508,12974.9508,12974.9508,12974.9508,12974.9508,12974.9508
2019-06-30,1.0,31292.5284,NaN,31292.5284,31292.5284,31292.5284,31292.5284,31292.5284,31292.5284
2019-07-20,1.0,28239.5988,NaN,28239.5988,28239.5988,28239.5988,28239.5988,28239.5988,28239.5988
2019-07-30,1.0,58514.4840,NaN,58514.4840,58514.4840,58514.4840,58514.4840,58514.4840,58514.4840
2019-09-08,1.0,59532.1272,NaN,59532.1272,59532.1272,59532.1272,59532.1272,59532.1272,59532.1272
2019-10-06,1.0,4579.3944,NaN,4579.3944,4579.3944,4579.3944,4579.3944,4579.3944,4579.3944
2019-11-04,1.0,61058.5920,NaN,61058.5920,61058.5920,61058.5920,61058.5920,61058.5920,61058.5920
2019-11-05,1.0,5851.4484,NaN,5851.4484,5851.4484,5851.4484,5851.4484,5851.4484,5851.4484
2019-12-03,1.0,1272.0540,NaN,1272.0540,1272.0540,1272.0540,1272.0540,1272.0540,1272.0540