In [1]:
import boto3
import io
import pandas as pd

from pandas import DataFrame
import pyspark
from pyspark.sql import SparkSession



# Read the parquet file
buffer = io.BytesIO()
s3 = boto3.resource('s3')
for bucket in s3.buckets.all():
    print(bucket.name)

aws-athena-query-results-831005689976-ap-southeast-2
aws-logs-831005689976-ap-southeast-2
canecrushers-raw
harvested-not-harvested
jons-amazon-reviews-pds

In [1]:
from pyspark.ml.clustering import KMeans
from pyspark.ml.evaluation import ClusteringEvaluator
from pyspark.ml.feature import VectorAssembler
from pyspark.sql import SQLContext
from pyspark import SparkContext
from pyspark import SparkConf
from pyspark.context import SparkContext

sc = SparkContext("local", "App Name")
sql = SQLContext(sc)

In [2]:
import io
import boto3
import pyarrow.parquet as pq

buffer = io.BytesIO()
s3 = boto3.resource('s3')
s3_object = s3.Object('canecrushers-raw', 'img32/image_values_7680_10240_2016-12-22.snappy.parquet')
s3_object.download_fileobj(buffer)
table = pq.read_table(buffer)
df = table.to_pandas()
# s3.put_object(Body=object_data, Bucket='BucketName', Key='')

# d
sqlCtx = SQLContext(sc)
spark_df = sqlCtx.createDataFrame(df)

In [5]:

numberOfClusters = 4
vegi1InputCols = ['NDVI','GNDVI','LAI']
kmeans = KMeans().setK(numberOfClusters).setSeed(1)
vegi1FeaturedDF = VectorAssembler(inputCols=vegi1InputCols, outputCol="features").transform(spark_df)
vegi1ClusteredDF = kmeans.fit(vegi1FeaturedDF.select('features')).transform(vegi1FeaturedDF)

In [9]:
# df

# spark_df = sql.createDataFrame(df)

In [7]:

# spark = SparkSession.builder.getOrCreate()
# sparkdf = sc.createDataFrame(df)
# spark_df = SQLContext.createDataFrame(df)


# spark_df = SQLContext.createDataFrame(df)

AttributeError: 'SparkContext' object has no attribute 'createDataFrame'

In [11]:
# ! pip install pyarrow
# columns = [['NDVI','GNDVI','LAI']]
# Trains a k-means model.
# sparkdf = spark_session.createDataFrame(df)

In [16]:
! pip install org

Collecting org

  Could not find a version that satisfies the requirement org (from versions: )
No matching distribution found for org

In [4]:
vegi1ClusteredDF.show()

NameError: name 'vegi1ClusteredDF' is not defined

In [6]:
pandas_df = vegi1ClusteredDF.select("*").toPandas()

In [7]:
pandas_df

,tile_x,tile_y,x,y,date,mask,red,green,blue,B01,...,GNDVI,RDVI,RBNDVI,LCI,LAI,SCI,NDMI,GLI,features,prediction
0,7680,10240,0,0,2016-12-22,0,100,104,111,3430,...,2605,487194,2536,22,556,60,-60,556,"[2783.0, 2605.0, 556.0]",0
1,7680,10240,0,1,2016-12-22,0,103,108,113,3430,...,2467,476218,2461,23,400,0,0,400,"[2694.0, 2467.0, 400.0]",2
2,7680,10240,0,2,2016-12-22,0,103,108,113,3526,...,2571,495551,2563,23,512,213,-213,512,"[2788.0, 2571.0, 512.0]",0
3,7680,10240,0,3,2016-12-22,3,104,110,114,3526,...,2630,518474,2672,24,446,47,-47,446,"[2879.0, 2630.0, 446.0]",0
4,7680,10240,0,4,2016-12-22,2,104,111,115,3526,...,2698,543941,2764,24,574,109,-109,574,"[3001.0, 2698.0, 574.0]",0
5,7680,10240,0,5,2016-12-22,1,103,111,113,3526,...,2661,548034,2798,24,612,116,-116,612,"[3030.0, 2661.0, 612.0]",0
6,7680,10240,0,6,2016-12-22,0,100,110,112,3526,...,2629,553852,2828,24,710,127,-127,710,"[3092.0, 2629.0, 710.0]",0
7,7680,10240,0,7,2016-12-22,0,99,110,111,3526,...,2624,553826,2834,24,739,148,-148,739,"[3099.0, 2624.0, 739.0]",0
8,7680,10240,0,8,2016-12-22,0,101,111,112,3544,...,2633,549604,2823,23,716,218,-218,716,"[3054.0, 2633.0, 716.0]",0
9,7680,10240,0,9,2016-12-22,9,103,113,116,3544,...,2733,570649,2846,25,615,40,-40,615,"[3123.0, 2733.0, 615.0]",0
10,7680,10240,0,10,2016-12-22,5,105,113,116,3544,...,2723,565755,2843,23,787,111,-111,787,"[3087.0, 2723.0, 787.0]",0
11,7680,10240,0,11,2016-12-22,1,107,114,117,3544,...,2798,574606,2886,24,695,1,-1,695,"[3103.0, 2798.0, 695.0]",0
12,7680,10240,0,12,2016-12-22,0,111,115,119,3544,...,2862,568793,2860,24,625,-135,135,625,"[3029.0, 2862.0, 625.0]",0
13,7680,10240,0,13,2016-12-22,0,109,113,118,3544,...,2817,556503,2815,23,710,-14,14,710,"[2996.0, 2817.0, 710.0]",0
14,7680,10240,0,14,2016-12-22,0,108,116,118,3688,...,2642,545042,2748,22,783,137,-137,783,"[2954.0, 2642.0, 783.0]",0
15,7680,10240,0,15,2016-12-22,1,120,121,122,3688,...,2305,436285,2291,20,260,273,-273,260,"[2339.0, 2305.0, 260.0]",2
16,7680,10240,0,16,2016-12-22,1,121,123,128,3688,...,2035,389650,1982,15,607,982,-982,607,"[2108.0, 2035.0, 607.0]",2
17,7680,10240,0,17,2016-12-22,0,135,128,131,3688,...,2075,345748,1884,17,71,760,-760,71,"[1806.0, 2075.0, 71.0]",2
18,7680,10240,0,18,2016-12-22,0,138,128,128,3688,...,2438,409420,2257,15,511,1208,-1208,511,"[2082.0, 2438.0, 511.0]",2
19,7680,10240,0,19,2016-12-22,0,144,131,129,3688,...,2450,398002,2243,17,269,1066,-1066,269,"[1988.0, 2450.0, 269.0]",2
20,7680,10240,0,20,2016-12-22,0,153,134,133,3844,...,2454,374333,2151,14,354,1756,-1756,354,"[1836.0, 2454.0, 354.0]",2
21,7680,10240,0,21,2016-12-22,2,153,134,133,3844,...,2555,395350,2245,15,335,1648,-1648,335,"[1924.0, 2555.0, 335.0]",2
22,7680,10240,0,22,2016-12-22,2,157,136,135,3844,...,2624,399704,2269,15,354,1688,-1688,354,"[1920.0, 2624.0, 354.0]",2
23,7680,10240,0,23,2016-12-22,0,159,136,135,3844,...,2638,393785,2270,15,300,1670,-1670,300,"[1885.0, 2638.0, 300.0]",2
24,7680,10240,0,24,2016-12-22,0,152,132,133,3844,...,2636,404533,2285,17,199,1398,-1398,199,"[1972.0, 2636.0, 199.0]",2
25,7680,10240,0,25,2016-12-22,0,129,123,123,3844,...,2719,487343,2614,15,999,1649,-1649,999,"[2490.0, 2719.0, 999.0]",0
26,7680,10240,0,26,2016-12-22,2,106,111,114,3632,...,3007,601572,3067,22,1086,867,-867,1086,"[3228.0, 3007.0, 1086.0]",1
27,7680,10240,0,27,2016-12-22,2,100,107,112,3632,...,3130,627549,3156,21,1354,931,-931,1354,"[3413.0, 3130.0, 1354.0]",1
28,7680,10240,0,28,2016-12-22,10,100,106,113,3632,...,3048,607142,3041,24,977,574,-574,977,"[3331.0, 3048.0, 977.0]",1
29,7680,10240,0,29,2016-12-22,0,102,106,113,3632,...,2918,565547,2870,22,889,716,-716,889,"[3123.0, 2918.0, 889.0]",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,7680,10240,31,2,2016-12-22,0,102,116,119,3536,...,3334,745534,3523,33,594,-1054,1054,594,"[3877.0, 3334.0, 594.0]",1
995,7680,10240,31,3,2016-12-22,0,95,111,117,3536,...,3523,803981,3741,33,977,-1080,1080,977,"[4221.0, 3523.0, 977.0]",3
996,7680,10240,31,4,2016-12-22,0,89,111,114,3536,...,3621,858478,3986,35,1173,-1103,1103,1173,"[4518.0, 3621.0, 1173.0]",3
997,7680,10240,31,5,2016-12-22,0,87,109,115,3536,...,3772,895706,4102,36,1282,-1210,1210,1282,"[4690.0, 3772.0, 1282.0]",3
998,7680,10240,31,6,2016-12-22,0,93,112,115,3536,...,3667,853105,3972,34,1130,-1134,1134,1130,"[4431.0, 3667.0, 1130.0]",3
999,7680,10240,31,7,2016-12-22,0,96,115,115,3536,...,3607,847265,3968,35,976,-1201,1201,976,"[4360.0, 3607.0, 976.0]",3
1000,7680,10240,31,8,2016-12-22,0,96,116,114,3618,...,3639,870385,4070,33,1318,-1008,1008,1318,"[4450.0, 3639.0, 1318.0]",3
1001,7680,10240,31,9,2016-12-22,0,95,117,115,3618,...,3620,883553,4094,33,1366,-1038,1038,1366,"[4513.0, 3620.0, 1366.0]",3
1002,7680,10240,31,10,2016-12-22,0,97,117,117,3618,...,3575,851896,3947,30,1485,-379,379,1485,"[4365.0, 3575.0, 1485.0]",3
1003,7680,10240,31,11,2016-12-22,0,106,118,119,3618,...,3442,771806,3666,30,1033,-304,304,1033,"[3923.0, 3442.0, 1033.0]",3
1004,7680,10240,31,12,2016-12-22,0,119,122,124,3618,...,3234,664396,3235,27,600,242,-242,600,"[3336.0, 3234.0, 600.0]",1
1005,7680,10240,31,13,2016-12-22,0,117,120,124,3618,...,3142,636469,3119,26,688,431,-431,688,"[3245.0, 3142.0, 688.0]",0
1006,7680,10240,31,14,2016-12-22,0,107,113,119,3742,...,3025,614112,3032,24,888,560,-560,888,"[3266.0, 3025.0, 888.0]",1
1007,7680,10240,31,15,2016-12-22,0,106,112,117,3742,...,3036,613337,3051,24,955,611,-611,955,"[3281.0, 3036.0, 955.0]",1
1008,7680,10240,31,16,2016-12-22,0,104,110,115,3742,...,3042,616589,3082,23,1103,506,-506,1103,"[3320.0, 3042.0, 1103.0]",1
1009,7680,10240,31,17,2016-12-22,0,103,110,115,3742,...,2989,604802,3028,22,1141,590,-590,1141,"[3280.0, 2989.0, 1141.0]",1
1010,7680,10240,31,18,2016-12-22,0,105,110,116,3742,...,2979,588855,2950,23,877,532,-532,877,"[3189.0, 2979.0, 877.0]",0
1011,7680,10240,31,19,2016-12-22,0,103,108,115,3742,...,2986,593129,2971,23,973,580,-580,973,"[3233.0, 2986.0, 973.0]",1
1012,7680,10240,31,20,2016-12-22,0,104,110,116,3824,...,3009,602316,3000,22,1059,703,-703,1059,"[3255.0, 3009.0, 1059.0]",1
1013,7680,10240,31,21,2016-12-22,0,113,117,122,3824,...,3050,613333,3023,26,647,356,-356,647,"[3194.0, 3050.0, 647.0]",0
1014,7680,10240,31,22,2016-12-22,0,117,120,125,3824,...,3209,658956,3189,26,756,495,-495,756,"[3340.0, 3209.0, 756.0]",1
1015,7680,10240,31,23,2016-12-22,0,119,120,124,3824,...,3242,649862,3183,26,679,482,-482,679,"[3282.0, 3242.0, 679.0]",1
1016,7680,10240,31,24,2016-12-22,0,127,123,127,3824,...,2998,572820,2879,23,606,923,-923,606,"[2882.0, 2998.0, 606.0]",0
1017,7680,10240,31,25,2016-12-22,0,131,128,130,3824,...,2871,552027,2767,23,442,895,-895,442,"[2756.0, 2871.0, 442.0]",0
1018,7680,10240,31,26,2016-12-22,0,131,127,130,3930,...,2913,559820,2802,23,516,929,-929,516,"[2788.0, 2913.0, 516.0]",0
1019,7680,10240,31,27,2016-12-22,0,131,128,130,3930,...,2858,552702,2769,22,527,969,-969,527,"[2761.0, 2858.0, 527.0]",0
1020,7680,10240,31,28,2016-12-22,0,128,125,129,3930,...,2932,560522,2805,22,562,947,-947,562,"[2817.0, 2932.0, 562.0]",0
1021,7680,10240,31,29,2016-12-22,3,127,125,128,3930,...,2866,546736,2746,22,582,1024,-1024,582,"[2763.0, 2866.0, 582.0]",0
1022,7680,10240,31,30,2016-12-22,3,128,125,128,3930,...,2906,553151,2792,22,581,1026,-1026,581,"[2783.0, 2906.0, 581.0]",0
1023,7680,10240,31,31,2016-12-22,3,130,123,127,3930,...,2932,534067,2748,22,512,1061,-1061,512,"[2686.0, 2932.0, 512.0]",0