In [1]:
import boto3
import io
import pandas as pd
import pyarrow.parquet as pq

from pandas import DataFrame
import pyspark
from pyspark.sql import SparkSession
import plotly
from pyspark.ml.clustering import KMeans
from pyspark.ml.evaluation import ClusteringEvaluator
from pyspark.ml.feature import VectorAssembler
from pyspark.sql import SQLContext
from pyspark import SparkContext
from pyspark import SparkConf
from pyspark.context import SparkContext
# plotly.offline.init_notebook_mode(connected=True)
# import plotly.express as px


client = boto3.client('s3')
sc = SparkContext("local", "App Name")
sql = SQLContext(sc)





buffer = io.BytesIO()
s3 = boto3.resource('s3')
s3_object = s3.Object('canecrushers-raw', 'img512/image_values_7680_10240_2016-12-22.snappy.parquet')
s3_object.download_fileobj(buffer)
table = pq.read_table(buffer)
df = table.to_pandas()
# s3.put_object(Body=object_data, Bucket='BucketName', Key='')

# d
sqlCtx = SQLContext(sc)
spark_df = sqlCtx.createDataFrame(df)


numberOfClusters = 4
vegi1InputCols = ['NDVI','GNDVI','LAI']
kmeans = KMeans().setK(numberOfClusters).setSeed(1)
vegi1FeaturedDF = VectorAssembler(inputCols=vegi1InputCols, outputCol="features").transform(spark_df)
vegi1ClusteredDF = kmeans.fit(vegi1FeaturedDF.select('features')).transform(vegi1FeaturedDF)

pandas_df = vegi1ClusteredDF.select("*").toPandas()
PixelsHarvested = pandas_df[pandas_df['prediction'] ==2].shape[0]
Date = pandas_df.iloc[0]['date']
# date

# client.list_objects(Buc
# Read the parquet file
# buffer = io.BytesIO()
# s3 = boto3.resource('s3')
# for bucket in s3.buckets.all():
#     print(bucket.name)

In [9]:
pandas_df.head()

,tile_x,tile_y,x,y,date,mask,red,green,blue,B01,...,NDVI,GNDVI,RDVI,RBNDVI,LCI,LAI,GLI,SCI,features,prediction
0,7680,10240,0,0,2016-12-22,0,100,104,111,3430,...,2783,2605,487194,2536,22,556,556,60,"[2783.0, 2605.0, 556.0]",0
1,7680,10240,0,1,2016-12-22,0,103,108,113,3430,...,2694,2467,476218,2461,23,400,400,0,"[2694.0, 2467.0, 400.0]",0
2,7680,10240,0,2,2016-12-22,0,103,108,113,3526,...,2788,2571,495551,2563,23,512,512,213,"[2788.0, 2571.0, 512.0]",0
3,7680,10240,0,3,2016-12-22,3,104,110,114,3526,...,2879,2630,518474,2672,24,446,446,47,"[2879.0, 2630.0, 446.0]",0
4,7680,10240,0,4,2016-12-22,4,104,111,115,3526,...,3001,2698,543941,2764,24,574,574,109,"[3001.0, 2698.0, 574.0]",0

In [16]:
pandas_df['x'].unique()
# pandas_df.shape[0]

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
       455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
       468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480,
       481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493,
       494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506,
       507, 508, 509, 510, 511], dtype=int64)

In [3]:
# pandas_df['prediction'].unique()

array([0, 2, 3, 1], dtype=int64)

In [13]:
# Objectlist = pd.DataFrame()
my_bucket = s3.Bucket('canecrushers-raw')
KeyFolder = 'img512'
Objectlist = pd.DataFrame()
for my_bucket_object in my_bucket.objects.all():
#     print(my_bucket_object)
    Objectlist.at[len(Objectlist),'Key']= my_bucket_object
    
Objectlist['Key'] = Objectlist['Key'].astype(str)
Objectlist = Objectlist[Objectlist['Key'].str.contains(KeyFolder)].reset_index(drop=True)
Objectlist['Key'] = Objectlist['Key'].str.split(KeyFolder,expand=True)[1]
Objectlist=Objectlist[Objectlist['Key']!=("/')")].reset_index(drop=True)
Objectlist['Key'] = Objectlist['Key'].str[1:-2]

In [14]:
for index,row Objectlist['Key'].iterrows():
    KeyInput = 
# Objectlist

                                                  Key
0   image_values_7680_10240_2016-12-22.snappy.parquet
1   image_values_7680_10240_2017-01-01.snappy.parquet
2   image_values_7680_10240_2017-01-11.snappy.parquet
3   image_values_7680_10240_2017-02-10.snappy.parquet
4   image_values_7680_10240_2017-02-20.snappy.parquet
5   image_values_7680_10240_2017-03-02.snappy.parquet
6   image_values_7680_10240_2017-03-12.snappy.parquet
7   image_values_7680_10240_2017-04-01.snappy.parquet
8   image_values_7680_10240_2017-04-11.snappy.parquet
9   image_values_7680_10240_2017-05-01.snappy.parquet
10  image_values_7680_10240_2017-05-21.snappy.parquet
11  image_values_7680_10240_2017-05-31.snappy.parquet
12  image_values_7680_10240_2017-06-20.snappy.parquet
13  image_values_7680_10240_2017-07-10.snappy.parquet
14  image_values_7680_10240_2017-07-20.snappy.parquet
15  image_values_7680_10240_2017-07-30.snappy.parquet
16  image_values_7680_10240_2017-08-09.snappy.parquet
17  image_values_7680_10240_2017-08-19.snappy.parquet
18  image_values_7680_10240_2017-09-08.snappy.parquet
19  image_values_7680_10240_2017-09-18.snappy.parquet
20  image_values_7680_10240_2017-09-28.snappy.parquet
21  image_values_7680_10240_2017-10-08.snappy.parquet
22  image_values_7680_10240_2017-10-28.snappy.parquet
23  image_values_7680_10240_2017-11-07.snappy.parquet
24  image_values_7680_10240_2017-11-17.snappy.parquet
25  image_values_7680_10240_2017-11-27.snappy.parquet
26  image_values_7680_10240_2017-12-07.snappy.parquet
27  image_values_7680_10240_2017-12-17.snappy.parquet
28  image_values_7680_10240_2017-12-27.snappy.parquet
29  image_values_7680_10240_2018-01-06.snappy.parquet
..                                                ...
40  image_values_7680_10240_2018-07-05.snappy.parquet
41  image_values_7680_10240_2018-07-15.snappy.parquet
42  image_values_7680_10240_2018-07-25.snappy.parquet
43  image_values_7680_10240_2018-08-04.snappy.parquet
44  image_values_7680_10240_2018-08-14.snappy.parquet
45  image_values_7680_10240_2018-08-24.snappy.parquet
46  image_values_7680_10240_2018-09-03.snappy.parquet
47  image_values_7680_10240_2018-09-13.snappy.parquet
48  image_values_7680_10240_2018-10-03.snappy.parquet
49  image_values_7680_10240_2018-10-23.snappy.parquet
50  image_values_7680_10240_2018-11-02.snappy.parquet
51  image_values_7680_10240_2018-11-12.snappy.parquet
52  image_values_7680_10240_2018-11-22.snappy.parquet
53  image_values_7680_10240_2018-12-02.snappy.parquet
54  image_values_7680_10240_2019-01-01.snappy.parquet
55  image_values_7680_10240_2019-01-21.snappy.parquet
56  image_values_7680_10240_2019-02-20.snappy.parquet
57  image_values_7680_10240_2019-03-02.snappy.parquet
58  image_values_7680_10240_2019-03-12.snappy.parquet
59  image_values_7680_10240_2019-04-11.snappy.parquet
60  image_values_7680_10240_2019-04-21.snappy.parquet
61  image_values_7680_10240_2019-05-01.snappy.parquet
62  image_values_7680_10240_2019-05-11.snappy.parquet
63  image_values_7680_10240_2019-05-21.snappy.parquet
64  image_values_7680_10240_2019-06-10.snappy.parquet
65  image_values_7680_10240_2019-06-20.snappy.parquet
66  image_values_7680_10240_2019-06-30.snappy.parquet
67  image_values_7680_10240_2019-07-20.snappy.parquet
68  image_values_7680_10240_2019-07-30.snappy.parquet
69  image_values_7680_10240_2019-08-09.snappy.parquet

[70 rows x 1 columns]

In [8]:
Objectlist['Key']

NameError: name 'Objectlist' is not defined

In [32]:


# df['DATE'].astype(str).str[:-2]

1     image_values_7680_10240_2016-12-22.snappy.parquet
2     image_values_7680_10240_2017-01-01.snappy.parquet
3     image_values_7680_10240_2017-01-11.snappy.parquet
4     image_values_7680_10240_2017-02-10.snappy.parquet
5     image_values_7680_10240_2017-02-20.snappy.parquet
6     image_values_7680_10240_2017-03-02.snappy.parquet
7     image_values_7680_10240_2017-03-12.snappy.parquet
8     image_values_7680_10240_2017-04-01.snappy.parquet
9     image_values_7680_10240_2017-04-11.snappy.parquet
10    image_values_7680_10240_2017-05-01.snappy.parquet
11    image_values_7680_10240_2017-05-21.snappy.parquet
12    image_values_7680_10240_2017-05-31.snappy.parquet
13    image_values_7680_10240_2017-06-20.snappy.parquet
14    image_values_7680_10240_2017-07-10.snappy.parquet
15    image_values_7680_10240_2017-07-20.snappy.parquet
16    image_values_7680_10240_2017-07-30.snappy.parquet
17    image_values_7680_10240_2017-08-09.snappy.parquet
18    image_values_7680_10240_2017-08-19.snappy.parquet
19    image_values_7680_10240_2017-09-08.snappy.parquet
20    image_values_7680_10240_2017-09-18.snappy.parquet
21    image_values_7680_10240_2017-09-28.snappy.parquet
22    image_values_7680_10240_2017-10-08.snappy.parquet
23    image_values_7680_10240_2017-10-28.snappy.parquet
24    image_values_7680_10240_2017-11-07.snappy.parquet
25    image_values_7680_10240_2017-11-17.snappy.parquet
26    image_values_7680_10240_2017-11-27.snappy.parquet
27    image_values_7680_10240_2017-12-07.snappy.parquet
28    image_values_7680_10240_2017-12-17.snappy.parquet
29    image_values_7680_10240_2017-12-27.snappy.parquet
30    image_values_7680_10240_2018-01-06.snappy.parquet
                            ...
41    image_values_7680_10240_2018-07-05.snappy.parquet
42    image_values_7680_10240_2018-07-15.snappy.parquet
43    image_values_7680_10240_2018-07-25.snappy.parquet
44    image_values_7680_10240_2018-08-04.snappy.parquet
45    image_values_7680_10240_2018-08-14.snappy.parquet
46    image_values_7680_10240_2018-08-24.snappy.parquet
47    image_values_7680_10240_2018-09-03.snappy.parquet
48    image_values_7680_10240_2018-09-13.snappy.parquet
49    image_values_7680_10240_2018-10-03.snappy.parquet
50    image_values_7680_10240_2018-10-23.snappy.parquet
51    image_values_7680_10240_2018-11-02.snappy.parquet
52    image_values_7680_10240_2018-11-12.snappy.parquet
53    image_values_7680_10240_2018-11-22.snappy.parquet
54    image_values_7680_10240_2018-12-02.snappy.parquet
55    image_values_7680_10240_2019-01-01.snappy.parquet
56    image_values_7680_10240_2019-01-21.snappy.parquet
57    image_values_7680_10240_2019-02-20.snappy.parquet
58    image_values_7680_10240_2019-03-02.snappy.parquet
59    image_values_7680_10240_2019-03-12.snappy.parquet
60    image_values_7680_10240_2019-04-11.snappy.parquet
61    image_values_7680_10240_2019-04-21.snappy.parquet
62    image_values_7680_10240_2019-05-01.snappy.parquet
63    image_values_7680_10240_2019-05-11.snappy.parquet
64    image_values_7680_10240_2019-05-21.snappy.parquet
65    image_values_7680_10240_2019-06-10.snappy.parquet
66    image_values_7680_10240_2019-06-20.snappy.parquet
67    image_values_7680_10240_2019-06-30.snappy.parquet
68    image_values_7680_10240_2019-07-20.snappy.parquet
69    image_values_7680_10240_2019-07-30.snappy.parquet
70    image_values_7680_10240_2019-08-09.snappy.parquet
Name: Key, Length: 70, dtype: object

ParamValidationError: Parameter validation failed:
Missing required parameter in input: "Bucket"

In [6]:
import io
import boto3
import pyarrow.parquet as pq

buffer = io.BytesIO()
s3 = boto3.resource('s3')
s3_object = s3.Object('canecrushers-raw', 'img32/image_values_7680_10240_2016-12-22.snappy.parquet')
s3_object.download_fileobj(buffer)
table = pq.read_table(buffer)
df = table.to_pandas()
# s3.put_object(Body=object_data, Bucket='BucketName', Key='')

# d
sqlCtx = SQLContext(sc)
spark_df = sqlCtx.createDataFrame(df)

In [7]:

numberOfClusters = 4
vegi1InputCols = ['NDVI','GNDVI','LAI']
kmeans = KMeans().setK(numberOfClusters).setSeed(1)
vegi1FeaturedDF = VectorAssembler(inputCols=vegi1InputCols, outputCol="features").transform(spark_df)
vegi1ClusteredDF = kmeans.fit(vegi1FeaturedDF.select('features')).transform(vegi1FeaturedDF)

In [3]:
# df

,tile_x,tile_y,x,y,date,mask,red,green,blue,B01,...,GNDVI,RDVI,RBNDVI,LCI,LAI,SCI,NDMI,GLI,features,prediction
0,7680,10240,0,0,2016-12-22,0,100,104,111,3430,...,2605,487194,2536,22,556,60,-60,556,"[2783.0, 2605.0, 556.0]",0
1,7680,10240,0,1,2016-12-22,0,103,108,113,3430,...,2467,476218,2461,23,400,0,0,400,"[2694.0, 2467.0, 400.0]",2
2,7680,10240,0,2,2016-12-22,0,103,108,113,3526,...,2571,495551,2563,23,512,213,-213,512,"[2788.0, 2571.0, 512.0]",0
3,7680,10240,0,3,2016-12-22,3,104,110,114,3526,...,2630,518474,2672,24,446,47,-47,446,"[2879.0, 2630.0, 446.0]",0
4,7680,10240,0,4,2016-12-22,2,104,111,115,3526,...,2698,543941,2764,24,574,109,-109,574,"[3001.0, 2698.0, 574.0]",0

In [4]:
pandas_df['date'].unique()

array(['2016-12-22'], dtype=object)

In [8]:
px.scatter_matrix(data_frame=vegi1Scatter_pd
                  , dimensions=vegi1InputCols
                  , color="prediction"
                 )

NameError: name 'px' is not defined

In [11]:
# ! pip install pyarrow
# columns = [['NDVI','GNDVI','LAI']]
# Trains a k-means model.
# sparkdf = spark_session.createDataFrame(df)

In [21]:
vegi1ClusteredDF.shape

AttributeError: 'DataFrame' object has no attribute 'shape'

In [4]:
vegi1ClusteredDF.show()

NameError: name 'vegi1ClusteredDF' is not defined

In [30]:
pandas_df[pandas_df['prediction']==3].shape[0] *

72